
#box{
    text-decoration: underline;
}
h1{
    text-decoration: underline;
}
.ad{
    border: 20px solid aqua;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.bd{
    border: 20px solid blanchedalmond;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.cd{
    border: 20px solid burlywood;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    visibility: hidden;
}
.dd{
    border: 20px solid cadetblue;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.ed{
    border: 20px solid darkcyan;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}
.fd{
    border:plum solid 5px;
    border-radius: 10px;
    background-color: lightblue;
    color: white;
    margin: 20px;
    padding: 20px;
    text-align: justify;
    text-decoration: solid ;
}
/* li{
    display: inline;
} */